header{
    size: 1200px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    size: 3/4 * 1200px;
    min-width: auto;
    min-height: 400px;
    margin: 5px;
    margin-bottom: 10px;
}

aside{
    size: 1/4 * 1200px;
    min-width: 200px;
    min-height: 400px;
}

.container-footer{
    display: flex;
}

footer{
    max-height: 80px;
    min-height: 80px;
}

#image-logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

h1{
    text-align: center;
    size: 2.5em;
}
h2{
    padding-top: 5px;
}

#info{
    size: 1.5em bold;
}

li{
    list-style: none;
}

#footer-1{
    width: auto;
    justify-content: center;
}

#footer-2{
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-notice-primary{
    display: flex;
}

.container-notice-primary h2{
    text-align: left;
}
#image-notice{
    max-width: 200px;
    max-height: 200px;
}

.container-other-notice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}