header{
    size: 1200px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    size: 3/4 * 1200px;
    min-width: auto;
    min-height: 400px;
}

aside{
    size: 1/4 * 1200px;
    min-width: 200px;
    min-height: 400px;
}

.container-footer{
    display: flex;
}

footer{
    size: 1/2 * 1200px;
    max-height: 80px;
    min-height: 80px;
}
footer{
    size: 1/2 * 1200px;
    max-height: 80px;
    min-height: 80px;
}

img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

h1{
    text-align: center;
    size: 2.5em;
}

#info{
    size: 1.5em bold;
}

li{
    list-style: none;
}